/* Common style Start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    padding: 15px 20px;
    background-color: rgba(255, 144, 14, 1);color: #FFF;
    border: 0;
    border-radius: 8px;
    text-align: center;
    font-size:17px;
    font-weight: 600;
    cursor: pointer;
}

/* Common style end */

/* Header style Start */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color:#131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.menus{
    display: flex;
    
}
.menus{ 
}
.menus li{
    list-style: none;
}
.menus li a{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin: 0 26px;

}
/* Banner style start */
.banner{
    
   
}

.banner-content{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;

}
.banner-title{
    color: #131313;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    padding-top: 50px;
}
.banner-desc{
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}
.banner-content button{
    margin-bottom: 50px;
}
.banner img{
    width: 100%;
}
/* Banner style end */
/* Header style end */

/* Main Section style start */
main{
    max-width: 65%;
    margin: 0 auto;

}
/* Feature style  */

.feature{
    display: flex;
    align-items: center;
    margin: 50px 70px 80px;
    
}
.team-image-container {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 10px;
    margin-right: 70px;
}
.team-image-container img{
    width: 100%;
}
.teams-content{

}
.teams-content-title{
    font-size: 40px;
    font-weight: 500;
}
.text-color{
    color: #FF900E;
}
.team-content-desc{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}
/* Feature style end */

.facts{}
.facts-title{
    color: #131313;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}
.facts-desc{
    color: #727272;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}

/* Main Section style End */

