/* Common style Start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    padding: 20px 25px;
    background-color: rgba(255, 144, 14, 1);color: #FFF;
    border: 0;
    border-radius: 8px;
    text-align: center;
    font-size: px;
    font-weight: 600;
    cursor: pointer;
}

/* Common style end */

/* Header style Start */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color:#131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.menus{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menus{ 
}
.menus li{
    list-style: none;
}
.menus li a{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin: 0 26px;

}
/* Banner style start */
.banner{
    
   
}

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

}
.banner-title{
    color: #131313;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    padding-top: 50px;
}
.banner-desc{
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}
.banner-content button{
    margin-bottom: 50px;
}
.banner img{
    width: 100%;
}
/* Banner style end */
/* Header style end */